<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Product List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <form action="@{/cart/add}" method="post">
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    <label>
                        <input type="number" name="quantity" value="1" min="1"/>
                    </label>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
