<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/admin">Admin Dashboard</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/user-history">Users History</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      <a href="/user/logout" class="btn btn-danger">Logout</a>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Edit Product</h2>
  <form th:action="@{/admin/product/edit}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" class="form-control" id="brand" th:field="*{brand}" required>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" name="category" class="form-control" th:field="*{category}" required>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="${category.id == product.category.id}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" th:field="*{price}" required>
    </div>
    <div class="form-group">
      <label for="size">Size:</label>
      <input type="text" class="form-control" id="size" th:field="*{size}">
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input type="text" class="form-control" id="color" th:field="*{color}">
    </div>
    <div class="form-group">
      <label for="imageUrl">ImageURL:</label>
      <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}">
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>
</div>
</body>
</html>
